# Core AI Libraries
openai
torch
transformers
tiktoken
python-dotenv

# LangChain Ecosystem
langchain
langchain-core
langchain-text-splitters
langchain-huggingface

# Vector DB
chromadb

# Web Interface
streamlit


